* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.meal_recommend {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FCFAF8;
    border-radius: 18px;
    padding: 2rem;
    box-shadow: 2px 4px 8px 0px rgba(228, 125, 26, 0.5);
    margin: 4rem;
    width: 60%;
    gap: 4rem;
}

#info_card {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    color: #2f2f2f;
    height: 100%;
    width: 100%;
}
