* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main{
    background-color: #FCFAF8;
    background-image: url(../Images/lines1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: -1rem;
    background-position: top;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#coverinfo{
    margin: 6rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 30px;
    width: 50%;
    height: 100%;
    padding-bottom: 6rem;
}

#logo_cover{
    width: 502px;
}

#presentation{
    font-size: 18pt;
    color: #2E2E2E;
}

#start_btn{
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22pt;
    background-color: #7B60EE;
    border: none;
    border-radius: 8px;
    width: 20rem;
    padding: 10px;
}

#start_btn:hover{
    background-color: #FF9F43;
    cursor: pointer;
}

#imgdiv{
    width: 50%;
}

#mealimg{
    width: 870px;
}