main{
    background-color: #FCFAF8;
    height: 100vh;
}

h1{
    font-size: 6rem;
    font-family:'Poppins', sans-serif;
}

p{
    font-size: 18pt;
}

#header{
    background-color: #7B60EE;
    background-image: url(../Images/header1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position:  right;
    width: 100%;
    height: 30%;
    padding: 4rem;
    height: 30%;
    color: white;

}

#meal_cards{
    height: 60%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#btn{
    padding: 2rem 7rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    height: 10%;
}
#next_btn{
    color: white;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22pt;
    background-color: #7B60EE;
    border: none;
    border-radius: 8px;
    width: 10rem;
    padding: 10px;
}

#next_btn:hover{
    background-color: #FF9F43;
    cursor: pointer;
}