* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

main{
    height: 100vh;
    background-color: #FF9F43;
    background-image: url(../Images/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top right;
}

h1{
    font-size: 6rem;
    font-family:'Poppins', sans-serif;
}

p{
    font-size: 18pt;
}

#header{
    padding: 4rem;
    color: white;
}